* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f8f5f2;
  color: #333;
}

section {
  padding: 80px 10%;
}

h1,
h2,
h3 {
  font-weight: 600;
}

button {
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  background: #6f4e37;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #4b2e1e;
  transform: scale(1.05);
}


.hero {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 20px;
}

/* Position pagination properly */
.swiper-pagination {
  bottom: 0px !important;
}

/* Default dots (outline circle) */
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: transparent;
  /* empty inside */
  border: 2px solid #3b82f6;
  /* blue border */
  border-radius: 50%;
  opacity: 1;
  margin: 0 6px !important;
  transition: all 0.3s ease;
}

/* Active dot (filled circle) */
.swiper-pagination-bullet-active {
  background: #2563eb;
  /* full blue fill */
  border: 2px solid #2563eb;
  transform: scale(1.2);
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {

  .home-container {
    flex-direction: column;
    text-align: center;
  }

  .home-container h1 {
    font-size: 28px;
  }

  .home-container p {
    font-size: 14px;
  }

}

@media (max-width: 768px) {

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  section {
    padding: 30px 15px;
  }

}

body {
  overflow-x: hidden;
}

@media (max-width: 768px) {

  /* Center text only in mobile */
  h1 {
    text-align: center;
  }

  /* Remove emoji only in mobile */
  .coffee-emoji {
    display: none;
  }

}